/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.88
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.Document;
import com.monarkmarkets.api.primary.webapi.model.DocumentApiResponse;
import com.monarkmarkets.api.primary.webapi.model.SignDocument;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class DocumentApi extends BaseApi {

  public DocumentApi() {
    super(Configuration.getDefaultApiClient());
  }

  public DocumentApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all Documents.
   * 
   * @param investorId Investor ID to filter by. (optional)
   * @param preIPOCompanyId PreIPOCompanyID to filter by. (optional)
   * @param preIPOCompanySPVId PreIPOCompanySPVId to filter by. (optional)
   * @param preIPOCompanyInvestmentId PreIPOCompanyInvestmentId to filter by. (optional)
   * @param investorSubscriptionId InvestorSubscriptionId to filter by. (optional)
   * @param registeredFundId  (optional)
   * @param documentType Type of document to filter by. (optional)
   * @param exactMatch Only returns the items exactly matching the parameters given. (optional, default to false)
   * @param page Page number for pagination. (optional, default to 1)
   * @param pageSize Number of items per page for pagination. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @return DocumentApiResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentApiResponse primaryV1DocumentGet(@jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable UUID preIPOCompanySPVId, @jakarta.annotation.Nullable UUID preIPOCompanyInvestmentId, @jakarta.annotation.Nullable UUID investorSubscriptionId, @jakarta.annotation.Nullable UUID registeredFundId, @jakarta.annotation.Nullable String documentType, @jakarta.annotation.Nullable Boolean exactMatch, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder) throws ApiException {
    return this.primaryV1DocumentGet(investorId, preIPOCompanyId, preIPOCompanySPVId, preIPOCompanyInvestmentId, investorSubscriptionId, registeredFundId, documentType, exactMatch, page, pageSize, sortOrder, Collections.emptyMap());
  }


  /**
   * Get all Documents.
   * 
   * @param investorId Investor ID to filter by. (optional)
   * @param preIPOCompanyId PreIPOCompanyID to filter by. (optional)
   * @param preIPOCompanySPVId PreIPOCompanySPVId to filter by. (optional)
   * @param preIPOCompanyInvestmentId PreIPOCompanyInvestmentId to filter by. (optional)
   * @param investorSubscriptionId InvestorSubscriptionId to filter by. (optional)
   * @param registeredFundId  (optional)
   * @param documentType Type of document to filter by. (optional)
   * @param exactMatch Only returns the items exactly matching the parameters given. (optional, default to false)
   * @param page Page number for pagination. (optional, default to 1)
   * @param pageSize Number of items per page for pagination. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param additionalHeaders additionalHeaders for this call
   * @return DocumentApiResponse
   * @throws ApiException if fails to make API call
   */
  public DocumentApiResponse primaryV1DocumentGet(@jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable UUID preIPOCompanySPVId, @jakarta.annotation.Nullable UUID preIPOCompanyInvestmentId, @jakarta.annotation.Nullable UUID investorSubscriptionId, @jakarta.annotation.Nullable UUID registeredFundId, @jakarta.annotation.Nullable String documentType, @jakarta.annotation.Nullable Boolean exactMatch, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/document";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("investorId", investorId));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyId", preIPOCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanySPVId", preIPOCompanySPVId));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyInvestmentId", preIPOCompanyInvestmentId));
    localVarQueryParams.addAll(apiClient.parameterToPair("investorSubscriptionId", investorSubscriptionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("registeredFundId", registeredFundId));
    localVarQueryParams.addAll(apiClient.parameterToPair("documentType", documentType));
    localVarQueryParams.addAll(apiClient.parameterToPair("exactMatch", exactMatch));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<DocumentApiResponse> localVarReturnType = new TypeReference<DocumentApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Downloads a document using document ID and token. The document is accessed anonymously using a secure token.
   * 
   * @param id The Document ID for the document to download. (required)
   * @param token The secure token required to access the document. (required)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1DocumentIdDownloadTokenGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID token) throws ApiException {
    this.primaryV1DocumentIdDownloadTokenGet(id, token, Collections.emptyMap());
  }


  /**
   * Downloads a document using document ID and token. The document is accessed anonymously using a secure token.
   * 
   * @param id The Document ID for the document to download. (required)
   * @param token The secure token required to access the document. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1DocumentIdDownloadTokenGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID token, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1DocumentIdDownloadTokenGet");
    }
    
    // verify the required parameter 'token' is set
    if (token == null) {
      throw new ApiException(400, "Missing the required parameter 'token' when calling primaryV1DocumentIdDownloadTokenGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/document/{id}/download/{token}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "token" + "\\}", apiClient.escapeString(apiClient.parameterToString(token)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Get a Document by ID.
   * 
   * @param id The Document ID for the document to retrieve. (required)
   * @return Document
   * @throws ApiException if fails to make API call
   */
  public Document primaryV1DocumentIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1DocumentIdGet(id, Collections.emptyMap());
  }


  /**
   * Get a Document by ID.
   * 
   * @param id The Document ID for the document to retrieve. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Document
   * @throws ApiException if fails to make API call
   */
  public Document primaryV1DocumentIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1DocumentIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/document/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Document> localVarReturnType = new TypeReference<Document>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Signs a document by a document ID.
   * 
   * @param id The Document ID for the document to sign. (required)
   * @param signDocument Data about the signing. (optional)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1DocumentIdSignPost(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable SignDocument signDocument) throws ApiException {
    this.primaryV1DocumentIdSignPost(id, signDocument, Collections.emptyMap());
  }


  /**
   * Signs a document by a document ID.
   * 
   * @param id The Document ID for the document to sign. (required)
   * @param signDocument Data about the signing. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1DocumentIdSignPost(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable SignDocument signDocument, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = signDocument;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1DocumentIdSignPost");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/document/{id}/sign"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
