/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.88
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.CreateFinancialAdvisor;
import com.monarkmarkets.api.primary.webapi.model.FinancialAdvisor;
import com.monarkmarkets.api.primary.webapi.model.FinancialAdvisorApiResponse;
import com.monarkmarkets.api.primary.webapi.model.UpdateFinancialAdvisor;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class FinancialAdvisorApi extends BaseApi {

  public FinancialAdvisorApi() {
    super(Configuration.getDefaultApiClient());
  }

  public FinancialAdvisorApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all Financial Advisors for the authenticated partner&#39;s financial institutions.
   * 
   * @param page The page number for pagination. (optional, default to 1)
   * @param pageSize The number of items per page. (optional, default to 25)
   * @param sortOrder The order in which to sort the financial advisors. (optional, default to Descending)
   * @param financialInstitutionId Optional filter by Financial Institution ID. (optional)
   * @return FinancialAdvisorApiResponse
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisorApiResponse primaryV1FinancialAdvisorGet(@jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable UUID financialInstitutionId) throws ApiException {
    return this.primaryV1FinancialAdvisorGet(page, pageSize, sortOrder, financialInstitutionId, Collections.emptyMap());
  }


  /**
   * Get all Financial Advisors for the authenticated partner&#39;s financial institutions.
   * 
   * @param page The page number for pagination. (optional, default to 1)
   * @param pageSize The number of items per page. (optional, default to 25)
   * @param sortOrder The order in which to sort the financial advisors. (optional, default to Descending)
   * @param financialInstitutionId Optional filter by Financial Institution ID. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return FinancialAdvisorApiResponse
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisorApiResponse primaryV1FinancialAdvisorGet(@jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable UUID financialInstitutionId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/financial-advisor";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("financialInstitutionId", financialInstitutionId));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<FinancialAdvisorApiResponse> localVarReturnType = new TypeReference<FinancialAdvisorApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get the Financial Advisor by the specified Id.
   * 
   * @param id Id of the Financial Advisor to find. (required)
   * @return FinancialAdvisor
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisor primaryV1FinancialAdvisorIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1FinancialAdvisorIdGet(id, Collections.emptyMap());
  }


  /**
   * Get the Financial Advisor by the specified Id.
   * 
   * @param id Id of the Financial Advisor to find. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return FinancialAdvisor
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisor primaryV1FinancialAdvisorIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1FinancialAdvisorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/financial-advisor/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<FinancialAdvisor> localVarReturnType = new TypeReference<FinancialAdvisor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create a Financial Advisor in the primary offering.
   * 
   * @param createFinancialAdvisor create Financial Advisor information. (optional)
   * @return FinancialAdvisor
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisor primaryV1FinancialAdvisorPost(@jakarta.annotation.Nullable CreateFinancialAdvisor createFinancialAdvisor) throws ApiException {
    return this.primaryV1FinancialAdvisorPost(createFinancialAdvisor, Collections.emptyMap());
  }


  /**
   * Create a Financial Advisor in the primary offering.
   * 
   * @param createFinancialAdvisor create Financial Advisor information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return FinancialAdvisor
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisor primaryV1FinancialAdvisorPost(@jakarta.annotation.Nullable CreateFinancialAdvisor createFinancialAdvisor, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createFinancialAdvisor;
    
    // create path and map variables
    String localVarPath = "/primary/v1/financial-advisor";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<FinancialAdvisor> localVarReturnType = new TypeReference<FinancialAdvisor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an entire Financial Advisor in the primary offering.
   * 
   * @param updateFinancialAdvisor update Financial Advisor information. (optional)
   * @return FinancialAdvisor
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisor primaryV1FinancialAdvisorPut(@jakarta.annotation.Nullable UpdateFinancialAdvisor updateFinancialAdvisor) throws ApiException {
    return this.primaryV1FinancialAdvisorPut(updateFinancialAdvisor, Collections.emptyMap());
  }


  /**
   * Update an entire Financial Advisor in the primary offering.
   * 
   * @param updateFinancialAdvisor update Financial Advisor information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return FinancialAdvisor
   * @throws ApiException if fails to make API call
   */
  public FinancialAdvisor primaryV1FinancialAdvisorPut(@jakarta.annotation.Nullable UpdateFinancialAdvisor updateFinancialAdvisor, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateFinancialAdvisor;
    
    // create path and map variables
    String localVarPath = "/primary/v1/financial-advisor";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<FinancialAdvisor> localVarReturnType = new TypeReference<FinancialAdvisor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
