/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.CreateIndicationOfInterest;
import com.monarkmarkets.api.primary.webapi.model.IndicationOfInterest;
import com.monarkmarkets.api.primary.webapi.model.IndicationOfInterestApiResponse;
import com.monarkmarkets.api.primary.webapi.model.UpdateIndicationOfInterest;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class IndicationOfInterestApi extends BaseApi {

  public IndicationOfInterestApi() {
    super(Configuration.getDefaultApiClient());
  }

  public IndicationOfInterestApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all IndicationOfInterests.
   * 
   * @param searchTerm Optional search term on the PreIPOCompany name. (optional)
   * @param investorId Filter the returned IndicationOfInterests by an InvestorId. (optional)
   * @param sortProperty Which property to sort by. (optional, default to UpdatedAt)
   * @param sortOrder Which direction to sort by. (optional, default to Descending)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional, default to 25)
   * @return IndicationOfInterestApiResponse
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterestApiResponse primaryV1IndicationOfInterestGet(@jakarta.annotation.Nullable String searchTerm, @jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable String sortProperty, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize) throws ApiException {
    return this.primaryV1IndicationOfInterestGet(searchTerm, investorId, sortProperty, sortOrder, page, pageSize, Collections.emptyMap());
  }


  /**
   * Get all IndicationOfInterests.
   * 
   * @param searchTerm Optional search term on the PreIPOCompany name. (optional)
   * @param investorId Filter the returned IndicationOfInterests by an InvestorId. (optional)
   * @param sortProperty Which property to sort by. (optional, default to UpdatedAt)
   * @param sortOrder Which direction to sort by. (optional, default to Descending)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional, default to 25)
   * @param additionalHeaders additionalHeaders for this call
   * @return IndicationOfInterestApiResponse
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterestApiResponse primaryV1IndicationOfInterestGet(@jakarta.annotation.Nullable String searchTerm, @jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable String sortProperty, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/indication-of-interest";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("searchTerm", searchTerm));
    localVarQueryParams.addAll(apiClient.parameterToPair("investorId", investorId));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortProperty", sortProperty));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<IndicationOfInterestApiResponse> localVarReturnType = new TypeReference<IndicationOfInterestApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Delete an Indication of Interest by ID.
   * 
   * @param id The ID of the Indication of Interest to delete. (required)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1IndicationOfInterestIdDelete(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    this.primaryV1IndicationOfInterestIdDelete(id, Collections.emptyMap());
  }


  /**
   * Delete an Indication of Interest by ID.
   * 
   * @param id The ID of the Indication of Interest to delete. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1IndicationOfInterestIdDelete(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1IndicationOfInterestIdDelete");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/indication-of-interest/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Get an IndicationOfInterest by Id
   * 
   * @param id Unique ID of the IOI to find. (required)
   * @return IndicationOfInterest
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterest primaryV1IndicationOfInterestIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1IndicationOfInterestIdGet(id, Collections.emptyMap());
  }


  /**
   * Get an IndicationOfInterest by Id
   * 
   * @param id Unique ID of the IOI to find. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return IndicationOfInterest
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterest primaryV1IndicationOfInterestIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1IndicationOfInterestIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/indication-of-interest/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<IndicationOfInterest> localVarReturnType = new TypeReference<IndicationOfInterest>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create an Indication of Interest
   * 
   * @param createIndicationOfInterest create IndicationOfInterest information. (optional)
   * @return IndicationOfInterest
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterest primaryV1IndicationOfInterestPost(@jakarta.annotation.Nullable CreateIndicationOfInterest createIndicationOfInterest) throws ApiException {
    return this.primaryV1IndicationOfInterestPost(createIndicationOfInterest, Collections.emptyMap());
  }


  /**
   * Create an Indication of Interest
   * 
   * @param createIndicationOfInterest create IndicationOfInterest information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return IndicationOfInterest
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterest primaryV1IndicationOfInterestPost(@jakarta.annotation.Nullable CreateIndicationOfInterest createIndicationOfInterest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createIndicationOfInterest;
    
    // create path and map variables
    String localVarPath = "/primary/v1/indication-of-interest";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<IndicationOfInterest> localVarReturnType = new TypeReference<IndicationOfInterest>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an Indication of Interest
   * 
   * @param updateIndicationOfInterest Update Indication of Interest information. (optional)
   * @return IndicationOfInterest
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterest primaryV1IndicationOfInterestPut(@jakarta.annotation.Nullable UpdateIndicationOfInterest updateIndicationOfInterest) throws ApiException {
    return this.primaryV1IndicationOfInterestPut(updateIndicationOfInterest, Collections.emptyMap());
  }


  /**
   * Update an Indication of Interest
   * 
   * @param updateIndicationOfInterest Update Indication of Interest information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return IndicationOfInterest
   * @throws ApiException if fails to make API call
   */
  public IndicationOfInterest primaryV1IndicationOfInterestPut(@jakarta.annotation.Nullable UpdateIndicationOfInterest updateIndicationOfInterest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateIndicationOfInterest;
    
    // create path and map variables
    String localVarPath = "/primary/v1/indication-of-interest";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<IndicationOfInterest> localVarReturnType = new TypeReference<IndicationOfInterest>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
