/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.CreateInvestorSubscription;
import com.monarkmarkets.api.primary.webapi.model.InvestorSubscription;
import com.monarkmarkets.api.primary.webapi.model.InvestorSubscriptionApiResponse;
import com.monarkmarkets.api.primary.webapi.model.UpdateInvestorSubscription;
import com.monarkmarkets.api.primary.webapi.model.UpdateInvestorSubscriptionOrderReference;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class InvestorSubscriptionApi extends BaseApi {

  public InvestorSubscriptionApi() {
    super(Configuration.getDefaultApiClient());
  }

  public InvestorSubscriptionApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all InvestorSubscriptions.
   * 
   * @param preIpoCompanySpvId SPV to filter by. (optional)
   * @param investorId Optional investorId to filter on. (optional)
   * @param status Optional subscription status to filter on. (optional)
   * @param preIPOCompanyName Optional Company Name to filter on. (optional)
   * @param preIPOCompanySPVName Optional SPV Name to filter on. (optional)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @return InvestorSubscriptionApiResponse
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscriptionApiResponse primaryV1InvestorSubscriptionGet(@jakarta.annotation.Nullable UUID preIpoCompanySpvId, @jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable String status, @jakarta.annotation.Nullable String preIPOCompanyName, @jakarta.annotation.Nullable String preIPOCompanySPVName, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder) throws ApiException {
    return this.primaryV1InvestorSubscriptionGet(preIpoCompanySpvId, investorId, status, preIPOCompanyName, preIPOCompanySPVName, page, pageSize, sortOrder, Collections.emptyMap());
  }


  /**
   * Get all InvestorSubscriptions.
   * 
   * @param preIpoCompanySpvId SPV to filter by. (optional)
   * @param investorId Optional investorId to filter on. (optional)
   * @param status Optional subscription status to filter on. (optional)
   * @param preIPOCompanyName Optional Company Name to filter on. (optional)
   * @param preIPOCompanySPVName Optional SPV Name to filter on. (optional)
   * @param page  (optional, default to 1)
   * @param pageSize  (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvestorSubscriptionApiResponse
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscriptionApiResponse primaryV1InvestorSubscriptionGet(@jakarta.annotation.Nullable UUID preIpoCompanySpvId, @jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable String status, @jakarta.annotation.Nullable String preIPOCompanyName, @jakarta.annotation.Nullable String preIPOCompanySPVName, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("preIpoCompanySpvId", preIpoCompanySpvId));
    localVarQueryParams.addAll(apiClient.parameterToPair("investorId", investorId));
    localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyName", preIPOCompanyName));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanySPVName", preIPOCompanySPVName));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<InvestorSubscriptionApiResponse> localVarReturnType = new TypeReference<InvestorSubscriptionApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get an InvestorSubscription by ID.
   * 
   * @param id ID of the InvestorSubscription to find. (required)
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1InvestorSubscriptionIdGet(id, Collections.emptyMap());
  }


  /**
   * Get an InvestorSubscription by ID.
   * 
   * @param id ID of the InvestorSubscription to find. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1InvestorSubscriptionIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<InvestorSubscription> localVarReturnType = new TypeReference<InvestorSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Signs an Existing Subscription.
   * 
   * @param id ID of subscription to sign. (required)
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionIdSignPost(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1InvestorSubscriptionIdSignPost(id, Collections.emptyMap());
  }


  /**
   * Signs an Existing Subscription.
   * 
   * @param id ID of subscription to sign. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionIdSignPost(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1InvestorSubscriptionIdSignPost");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription/{id}/sign"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<InvestorSubscription> localVarReturnType = new TypeReference<InvestorSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get InvestorSubscriptions by InvestorId.
   * 
   * @param investorId Filter InvestorSubscriptions by Investor ID. (required)
   * @return List&lt;InvestorSubscription&gt;
   * @throws ApiException if fails to make API call
   */
  public List<InvestorSubscription> primaryV1InvestorSubscriptionInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID investorId) throws ApiException {
    return this.primaryV1InvestorSubscriptionInvestorInvestorIdGet(investorId, Collections.emptyMap());
  }


  /**
   * Get InvestorSubscriptions by InvestorId.
   * 
   * @param investorId Filter InvestorSubscriptions by Investor ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;InvestorSubscription&gt;
   * @throws ApiException if fails to make API call
   */
  public List<InvestorSubscription> primaryV1InvestorSubscriptionInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID investorId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1InvestorSubscriptionInvestorInvestorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription/investor/{investorId}"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<List<InvestorSubscription>> localVarReturnType = new TypeReference<List<InvestorSubscription>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get InvestorSubscription by InvestorId and PreIPOCompanySPVId.
   * 
   * @param investorId Filter InvestorSubscription by Investor ID. (required)
   * @param spvId Filter InvestorSubscription by SPV ID. (required)
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionInvestorInvestorIdPreIpoCompanySpvSpvIdGet(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nonnull UUID spvId) throws ApiException {
    return this.primaryV1InvestorSubscriptionInvestorInvestorIdPreIpoCompanySpvSpvIdGet(investorId, spvId, Collections.emptyMap());
  }


  /**
   * Get InvestorSubscription by InvestorId and PreIPOCompanySPVId.
   * 
   * @param investorId Filter InvestorSubscription by Investor ID. (required)
   * @param spvId Filter InvestorSubscription by SPV ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionInvestorInvestorIdPreIpoCompanySpvSpvIdGet(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nonnull UUID spvId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1InvestorSubscriptionInvestorInvestorIdPreIpoCompanySpvSpvIdGet");
    }
    
    // verify the required parameter 'spvId' is set
    if (spvId == null) {
      throw new ApiException(400, "Missing the required parameter 'spvId' when calling primaryV1InvestorSubscriptionInvestorInvestorIdPreIpoCompanySpvSpvIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription/investor/{investorId}/pre-ipo-company-spv/{spvId}"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)))
      .replaceAll("\\{" + "spvId" + "\\}", apiClient.escapeString(apiClient.parameterToString(spvId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<InvestorSubscription> localVarReturnType = new TypeReference<InvestorSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an InvestorSubscription&#39;s Order Reference ID.
   * 
   * @param updateInvestorSubscriptionOrderReference The request containing the updated order reference information. (optional)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorSubscriptionOrderReferencePut(@jakarta.annotation.Nullable UpdateInvestorSubscriptionOrderReference updateInvestorSubscriptionOrderReference) throws ApiException {
    this.primaryV1InvestorSubscriptionOrderReferencePut(updateInvestorSubscriptionOrderReference, Collections.emptyMap());
  }


  /**
   * Update an InvestorSubscription&#39;s Order Reference ID.
   * 
   * @param updateInvestorSubscriptionOrderReference The request containing the updated order reference information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorSubscriptionOrderReferencePut(@jakarta.annotation.Nullable UpdateInvestorSubscriptionOrderReference updateInvestorSubscriptionOrderReference, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateInvestorSubscriptionOrderReference;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription/order-reference";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Create an InvestorSubscription.
   * 
   * @param createInvestorSubscription Investor Subscription Properties. (optional)
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionPost(@jakarta.annotation.Nullable CreateInvestorSubscription createInvestorSubscription) throws ApiException {
    return this.primaryV1InvestorSubscriptionPost(createInvestorSubscription, Collections.emptyMap());
  }


  /**
   * Create an InvestorSubscription.
   * 
   * @param createInvestorSubscription Investor Subscription Properties. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvestorSubscription
   * @throws ApiException if fails to make API call
   */
  public InvestorSubscription primaryV1InvestorSubscriptionPost(@jakarta.annotation.Nullable CreateInvestorSubscription createInvestorSubscription, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createInvestorSubscription;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<InvestorSubscription> localVarReturnType = new TypeReference<InvestorSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an InvestorSubscription.
   * 
   * @param updateInvestorSubscription The request containing the updated order reference information. (optional)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorSubscriptionPut(@jakarta.annotation.Nullable UpdateInvestorSubscription updateInvestorSubscription) throws ApiException {
    this.primaryV1InvestorSubscriptionPut(updateInvestorSubscription, Collections.emptyMap());
  }


  /**
   * Update an InvestorSubscription.
   * 
   * @param updateInvestorSubscription The request containing the updated order reference information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorSubscriptionPut(@jakarta.annotation.Nullable UpdateInvestorSubscription updateInvestorSubscription, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateInvestorSubscription;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor-subscription";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
