/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.CreateIndividualEntityInvestors;
import com.monarkmarkets.api.primary.webapi.model.CreateInvestor;
import com.monarkmarkets.api.primary.webapi.model.IndividualEntityInvestor;
import com.monarkmarkets.api.primary.webapi.model.Investor;
import com.monarkmarkets.api.primary.webapi.model.InvestorApiResponse;
import com.monarkmarkets.api.primary.webapi.model.UpdateIndividualEntityInvestor;
import com.monarkmarkets.api.primary.webapi.model.UpdateInvestor;
import com.monarkmarkets.api.primary.webapi.model.UpdateInvestorAccreditation;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class InvestorApi extends BaseApi {

  public InvestorApi() {
    super(Configuration.getDefaultApiClient());
  }

  public InvestorApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Update an Investor’s accreditation status.
   * 
   * @param updateInvestorAccreditation M:primary_offering_web_api.Controllers.InvestorController.UpdateInvestorAccreditation(primary_offering_api_models.Investors.UpdateInvestorAccreditation,System.Threading.CancellationToken) from body. (optional)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorAccreditationPut(@jakarta.annotation.Nullable UpdateInvestorAccreditation updateInvestorAccreditation) throws ApiException {
    this.primaryV1InvestorAccreditationPut(updateInvestorAccreditation, Collections.emptyMap());
  }


  /**
   * Update an Investor’s accreditation status.
   * 
   * @param updateInvestorAccreditation M:primary_offering_web_api.Controllers.InvestorController.UpdateInvestorAccreditation(primary_offering_api_models.Investors.UpdateInvestorAccreditation,System.Threading.CancellationToken) from body. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorAccreditationPut(@jakarta.annotation.Nullable UpdateInvestorAccreditation updateInvestorAccreditation, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateInvestorAccreditation;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/accreditation";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Get the Investor by investorReferenceId.
   * 
   * @param investorReferenceId InvestorReferenceId of the Investor to find. (required)
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorByReferenceInvestorReferenceIdGet(@jakarta.annotation.Nonnull String investorReferenceId) throws ApiException {
    return this.primaryV1InvestorByReferenceInvestorReferenceIdGet(investorReferenceId, Collections.emptyMap());
  }


  /**
   * Get the Investor by investorReferenceId.
   * 
   * @param investorReferenceId InvestorReferenceId of the Investor to find. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorByReferenceInvestorReferenceIdGet(@jakarta.annotation.Nonnull String investorReferenceId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorReferenceId' is set
    if (investorReferenceId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorReferenceId' when calling primaryV1InvestorByReferenceInvestorReferenceIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/by-reference/{investorReferenceId}"
      .replaceAll("\\{" + "investorReferenceId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorReferenceId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Investor> localVarReturnType = new TypeReference<Investor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get all Investors.
   * 
   * @param page The page number to retrieve (default is 1). (optional, default to 1)
   * @param pageSize The number of items per page (default is 25). (optional, default to 25)
   * @param sortOrder The sorting order, either ascending or descending (default is descending). (optional, default to Descending)
   * @param investorStatus Optional filter for the status of the investors. (optional)
   * @param financialInstitutionId Optional filter to get by the Financial Institution. (optional)
   * @return InvestorApiResponse
   * @throws ApiException if fails to make API call
   */
  public InvestorApiResponse primaryV1InvestorGet(@jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String investorStatus, @jakarta.annotation.Nullable UUID financialInstitutionId) throws ApiException {
    return this.primaryV1InvestorGet(page, pageSize, sortOrder, investorStatus, financialInstitutionId, Collections.emptyMap());
  }


  /**
   * Get all Investors.
   * 
   * @param page The page number to retrieve (default is 1). (optional, default to 1)
   * @param pageSize The number of items per page (default is 25). (optional, default to 25)
   * @param sortOrder The sorting order, either ascending or descending (default is descending). (optional, default to Descending)
   * @param investorStatus Optional filter for the status of the investors. (optional)
   * @param financialInstitutionId Optional filter to get by the Financial Institution. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return InvestorApiResponse
   * @throws ApiException if fails to make API call
   */
  public InvestorApiResponse primaryV1InvestorGet(@jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String investorStatus, @jakarta.annotation.Nullable UUID financialInstitutionId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("investorStatus", investorStatus));
    localVarQueryParams.addAll(apiClient.parameterToPair("financialInstitutionId", financialInstitutionId));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<InvestorApiResponse> localVarReturnType = new TypeReference<InvestorApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get the Investor by investorId.
   * 
   * @param id ID of the Investor to find. (required)
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1InvestorIdGet(id, Collections.emptyMap());
  }


  /**
   * Get the Investor by investorId.
   * 
   * @param id ID of the Investor to find. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1InvestorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Investor> localVarReturnType = new TypeReference<Investor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get an entity&#39;s UBO.
   * 
   * @param investorId ID of the investor to get individual entity investors for. (required)
   * @return List&lt;IndividualEntityInvestor&gt;
   * @throws ApiException if fails to make API call
   */
  public List<IndividualEntityInvestor> primaryV1InvestorInvestorIdIndividualEntityInvestorGet(@jakarta.annotation.Nonnull UUID investorId) throws ApiException {
    return this.primaryV1InvestorInvestorIdIndividualEntityInvestorGet(investorId, Collections.emptyMap());
  }


  /**
   * Get an entity&#39;s UBO.
   * 
   * @param investorId ID of the investor to get individual entity investors for. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;IndividualEntityInvestor&gt;
   * @throws ApiException if fails to make API call
   */
  public List<IndividualEntityInvestor> primaryV1InvestorInvestorIdIndividualEntityInvestorGet(@jakarta.annotation.Nonnull UUID investorId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1InvestorInvestorIdIndividualEntityInvestorGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/{investorId}/individual-entity-investor"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<List<IndividualEntityInvestor>> localVarReturnType = new TypeReference<List<IndividualEntityInvestor>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Delete a UBO.
   * 
   * @param investorId ID of the investor that owns the UBO. (required)
   * @param id ID of the UBO to delete. (required)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorInvestorIdIndividualEntityInvestorIdDelete(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nonnull UUID id) throws ApiException {
    this.primaryV1InvestorInvestorIdIndividualEntityInvestorIdDelete(investorId, id, Collections.emptyMap());
  }


  /**
   * Delete a UBO.
   * 
   * @param investorId ID of the investor that owns the UBO. (required)
   * @param id ID of the UBO to delete. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1InvestorInvestorIdIndividualEntityInvestorIdDelete(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1InvestorInvestorIdIndividualEntityInvestorIdDelete");
    }
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1InvestorInvestorIdIndividualEntityInvestorIdDelete");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/{investorId}/individual-entity-investor/{id}"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)))
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Create an entity&#39;s UBO.
   * 
   * @param investorId  (required)
   * @param createIndividualEntityInvestors  (optional)
   * @return IndividualEntityInvestor
   * @throws ApiException if fails to make API call
   */
  public IndividualEntityInvestor primaryV1InvestorInvestorIdIndividualEntityInvestorPost(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable CreateIndividualEntityInvestors createIndividualEntityInvestors) throws ApiException {
    return this.primaryV1InvestorInvestorIdIndividualEntityInvestorPost(investorId, createIndividualEntityInvestors, Collections.emptyMap());
  }


  /**
   * Create an entity&#39;s UBO.
   * 
   * @param investorId  (required)
   * @param createIndividualEntityInvestors  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return IndividualEntityInvestor
   * @throws ApiException if fails to make API call
   */
  public IndividualEntityInvestor primaryV1InvestorInvestorIdIndividualEntityInvestorPost(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable CreateIndividualEntityInvestors createIndividualEntityInvestors, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createIndividualEntityInvestors;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1InvestorInvestorIdIndividualEntityInvestorPost");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/{investorId}/individual-entity-investor"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<IndividualEntityInvestor> localVarReturnType = new TypeReference<IndividualEntityInvestor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update a UBO&#39;s information.
   * 
   * @param investorId  (required)
   * @param updateIndividualEntityInvestor  (optional)
   * @return IndividualEntityInvestor
   * @throws ApiException if fails to make API call
   */
  public IndividualEntityInvestor primaryV1InvestorInvestorIdIndividualEntityInvestorPut(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable UpdateIndividualEntityInvestor updateIndividualEntityInvestor) throws ApiException {
    return this.primaryV1InvestorInvestorIdIndividualEntityInvestorPut(investorId, updateIndividualEntityInvestor, Collections.emptyMap());
  }


  /**
   * Update a UBO&#39;s information.
   * 
   * @param investorId  (required)
   * @param updateIndividualEntityInvestor  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return IndividualEntityInvestor
   * @throws ApiException if fails to make API call
   */
  public IndividualEntityInvestor primaryV1InvestorInvestorIdIndividualEntityInvestorPut(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable UpdateIndividualEntityInvestor updateIndividualEntityInvestor, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateIndividualEntityInvestor;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1InvestorInvestorIdIndividualEntityInvestorPut");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor/{investorId}/individual-entity-investor"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<IndividualEntityInvestor> localVarReturnType = new TypeReference<IndividualEntityInvestor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create an Investor.
   * 
   * @param createInvestor create Investor information. (optional)
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorPost(@jakarta.annotation.Nullable CreateInvestor createInvestor) throws ApiException {
    return this.primaryV1InvestorPost(createInvestor, Collections.emptyMap());
  }


  /**
   * Create an Investor.
   * 
   * @param createInvestor create Investor information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorPost(@jakarta.annotation.Nullable CreateInvestor createInvestor, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createInvestor;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Investor> localVarReturnType = new TypeReference<Investor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an Investor’s Information.
   * 
   * @param updateInvestor Update Investor Request. (optional)
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorPut(@jakarta.annotation.Nullable UpdateInvestor updateInvestor) throws ApiException {
    return this.primaryV1InvestorPut(updateInvestor, Collections.emptyMap());
  }


  /**
   * Update an Investor’s Information.
   * 
   * @param updateInvestor Update Investor Request. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Investor
   * @throws ApiException if fails to make API call
   */
  public Investor primaryV1InvestorPut(@jakarta.annotation.Nullable UpdateInvestor updateInvestor, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateInvestor;
    
    // create path and map variables
    String localVarPath = "/primary/v1/investor";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Investor> localVarReturnType = new TypeReference<Investor>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
