/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.NpmMutualFundMark;
import com.monarkmarkets.api.primary.webapi.model.NpmMutualFundMarkApiResponse;

import java.time.LocalDate;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class NpmMutualFundMarkApi extends BaseApi {

  public NpmMutualFundMarkApi() {
    super(Configuration.getDefaultApiClient());
  }

  public NpmMutualFundMarkApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Gets all NPM mutual fund marks for a specific financial institution.
   * 
   * @param financialInstitutionId The financial institution ID. (required)
   * @param preIPOCompanyId Optional filter by PreIPO Company ID. (optional)
   * @param npmTicker Optional filter by NPM ticker. (optional)
   * @param companyName Optional filter by company name. (optional)
   * @param filingDateFrom Optional filter by filing date from. (optional)
   * @param filingDateTo Optional filter by filing date to. (optional)
   * @param pageNumber Page number for pagination. (optional, default to 1)
   * @param pageSize Page size for pagination. (optional, default to 25)
   * @return NpmMutualFundMarkApiResponse
   * @throws ApiException if fails to make API call
   */
  public NpmMutualFundMarkApiResponse getAllNpmMutualFundMarks(@jakarta.annotation.Nonnull UUID financialInstitutionId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable String npmTicker, @jakarta.annotation.Nullable String companyName, @jakarta.annotation.Nullable LocalDate filingDateFrom, @jakarta.annotation.Nullable LocalDate filingDateTo, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize) throws ApiException {
    return this.getAllNpmMutualFundMarks(financialInstitutionId, preIPOCompanyId, npmTicker, companyName, filingDateFrom, filingDateTo, pageNumber, pageSize, Collections.emptyMap());
  }


  /**
   * Gets all NPM mutual fund marks for a specific financial institution.
   * 
   * @param financialInstitutionId The financial institution ID. (required)
   * @param preIPOCompanyId Optional filter by PreIPO Company ID. (optional)
   * @param npmTicker Optional filter by NPM ticker. (optional)
   * @param companyName Optional filter by company name. (optional)
   * @param filingDateFrom Optional filter by filing date from. (optional)
   * @param filingDateTo Optional filter by filing date to. (optional)
   * @param pageNumber Page number for pagination. (optional, default to 1)
   * @param pageSize Page size for pagination. (optional, default to 25)
   * @param additionalHeaders additionalHeaders for this call
   * @return NpmMutualFundMarkApiResponse
   * @throws ApiException if fails to make API call
   */
  public NpmMutualFundMarkApiResponse getAllNpmMutualFundMarks(@jakarta.annotation.Nonnull UUID financialInstitutionId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable String npmTicker, @jakarta.annotation.Nullable String companyName, @jakarta.annotation.Nullable LocalDate filingDateFrom, @jakarta.annotation.Nullable LocalDate filingDateTo, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'financialInstitutionId' is set
    if (financialInstitutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstitutionId' when calling getAllNpmMutualFundMarks");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/npm/tape-d-mutual-fund-marks/financial-institution/{financialInstitutionId}"
      .replaceAll("\\{" + "financialInstitutionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstitutionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyId", preIPOCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("npmTicker", npmTicker));
    localVarQueryParams.addAll(apiClient.parameterToPair("companyName", companyName));
    localVarQueryParams.addAll(apiClient.parameterToPair("filingDateFrom", filingDateFrom));
    localVarQueryParams.addAll(apiClient.parameterToPair("filingDateTo", filingDateTo));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageNumber", pageNumber));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<NpmMutualFundMarkApiResponse> localVarReturnType = new TypeReference<NpmMutualFundMarkApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Gets an NPM mutual fund mark by ID for a specific financial institution.
   * 
   * @param id The NPM mutual fund mark ID. (required)
   * @param financialInstitutionId The financial institution ID. (required)
   * @return NpmMutualFundMark
   * @throws ApiException if fails to make API call
   */
  public NpmMutualFundMark getNpmMutualFundMarkById(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID financialInstitutionId) throws ApiException {
    return this.getNpmMutualFundMarkById(id, financialInstitutionId, Collections.emptyMap());
  }


  /**
   * Gets an NPM mutual fund mark by ID for a specific financial institution.
   * 
   * @param id The NPM mutual fund mark ID. (required)
   * @param financialInstitutionId The financial institution ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return NpmMutualFundMark
   * @throws ApiException if fails to make API call
   */
  public NpmMutualFundMark getNpmMutualFundMarkById(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID financialInstitutionId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getNpmMutualFundMarkById");
    }
    
    // verify the required parameter 'financialInstitutionId' is set
    if (financialInstitutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstitutionId' when calling getNpmMutualFundMarkById");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/npm/tape-d-mutual-fund-marks/{id}/financial-institution/{financialInstitutionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "financialInstitutionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstitutionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<NpmMutualFundMark> localVarReturnType = new TypeReference<NpmMutualFundMark>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
