/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.NpmTapeDPricesFullHistory;
import com.monarkmarkets.api.primary.webapi.model.NpmTapeDPricesFullHistoryApiResponse;

import java.time.LocalDate;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class NpmTapeDPricesFullHistoryApi extends BaseApi {

  public NpmTapeDPricesFullHistoryApi() {
    super(Configuration.getDefaultApiClient());
  }

  public NpmTapeDPricesFullHistoryApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Gets all NPM Tape D Prices Full History records for a specific financial institution.
   * 
   * @param financialInstitutionId The financial institution ID. (required)
   * @param preIPOCompanyId Optional filter by PreIPO Company ID. (optional)
   * @param npmTicker Optional filter by NPM ticker. (optional)
   * @param companyName Optional filter by company name. (optional)
   * @param lastRoundValuation Optional valuation of Company at Last Round. (optional)
   * @param dateOfPricingFrom Optional filter by date of pricing from. (optional)
   * @param dateOfPricingTo Optional filter by date of pricing to. (optional)
   * @param pageNumber Page number for pagination. (optional, default to 1)
   * @param pageSize Page size for pagination. (optional, default to 25)
   * @return NpmTapeDPricesFullHistoryApiResponse
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDPricesFullHistoryApiResponse getAllNpmTapeDPricesFullHistory(@jakarta.annotation.Nonnull UUID financialInstitutionId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable String npmTicker, @jakarta.annotation.Nullable String companyName, @jakarta.annotation.Nullable Double lastRoundValuation, @jakarta.annotation.Nullable LocalDate dateOfPricingFrom, @jakarta.annotation.Nullable LocalDate dateOfPricingTo, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize) throws ApiException {
    return this.getAllNpmTapeDPricesFullHistory(financialInstitutionId, preIPOCompanyId, npmTicker, companyName, lastRoundValuation, dateOfPricingFrom, dateOfPricingTo, pageNumber, pageSize, Collections.emptyMap());
  }


  /**
   * Gets all NPM Tape D Prices Full History records for a specific financial institution.
   * 
   * @param financialInstitutionId The financial institution ID. (required)
   * @param preIPOCompanyId Optional filter by PreIPO Company ID. (optional)
   * @param npmTicker Optional filter by NPM ticker. (optional)
   * @param companyName Optional filter by company name. (optional)
   * @param lastRoundValuation Optional valuation of Company at Last Round. (optional)
   * @param dateOfPricingFrom Optional filter by date of pricing from. (optional)
   * @param dateOfPricingTo Optional filter by date of pricing to. (optional)
   * @param pageNumber Page number for pagination. (optional, default to 1)
   * @param pageSize Page size for pagination. (optional, default to 25)
   * @param additionalHeaders additionalHeaders for this call
   * @return NpmTapeDPricesFullHistoryApiResponse
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDPricesFullHistoryApiResponse getAllNpmTapeDPricesFullHistory(@jakarta.annotation.Nonnull UUID financialInstitutionId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable String npmTicker, @jakarta.annotation.Nullable String companyName, @jakarta.annotation.Nullable Double lastRoundValuation, @jakarta.annotation.Nullable LocalDate dateOfPricingFrom, @jakarta.annotation.Nullable LocalDate dateOfPricingTo, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'financialInstitutionId' is set
    if (financialInstitutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstitutionId' when calling getAllNpmTapeDPricesFullHistory");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/npm/tape-d-prices-full-history/financial-institution/{financialInstitutionId}"
      .replaceAll("\\{" + "financialInstitutionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstitutionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyId", preIPOCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("npmTicker", npmTicker));
    localVarQueryParams.addAll(apiClient.parameterToPair("companyName", companyName));
    localVarQueryParams.addAll(apiClient.parameterToPair("lastRoundValuation", lastRoundValuation));
    localVarQueryParams.addAll(apiClient.parameterToPair("dateOfPricingFrom", dateOfPricingFrom));
    localVarQueryParams.addAll(apiClient.parameterToPair("dateOfPricingTo", dateOfPricingTo));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageNumber", pageNumber));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<NpmTapeDPricesFullHistoryApiResponse> localVarReturnType = new TypeReference<NpmTapeDPricesFullHistoryApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Gets an NPM Tape D Prices Full History record by ID for a specific financial institution.
   * 
   * @param id The NPM Tape D Prices Full History record ID. (required)
   * @param financialInstitutionId The financial institution ID. (required)
   * @return NpmTapeDPricesFullHistory
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDPricesFullHistory getNpmTapeDPricesFullHistoryById(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID financialInstitutionId) throws ApiException {
    return this.getNpmTapeDPricesFullHistoryById(id, financialInstitutionId, Collections.emptyMap());
  }


  /**
   * Gets an NPM Tape D Prices Full History record by ID for a specific financial institution.
   * 
   * @param id The NPM Tape D Prices Full History record ID. (required)
   * @param financialInstitutionId The financial institution ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return NpmTapeDPricesFullHistory
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDPricesFullHistory getNpmTapeDPricesFullHistoryById(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID financialInstitutionId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getNpmTapeDPricesFullHistoryById");
    }
    
    // verify the required parameter 'financialInstitutionId' is set
    if (financialInstitutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstitutionId' when calling getNpmTapeDPricesFullHistoryById");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/npm/tape-d-prices-full-history/{id}/financial-institution/{financialInstitutionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "financialInstitutionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstitutionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<NpmTapeDPricesFullHistory> localVarReturnType = new TypeReference<NpmTapeDPricesFullHistory>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
