/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.NpmTapeDBasic;
import com.monarkmarkets.api.primary.webapi.model.NpmTapeDBasicApiResponse;

import java.time.LocalDate;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class NpmTapeDBasicApi extends BaseApi {

  public NpmTapeDBasicApi() {
    super(Configuration.getDefaultApiClient());
  }

  public NpmTapeDBasicApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Gets all NPM Tape D Basic records for a specific financial institution.
   * 
   * @param financialInstitutionId The financial institution ID. (required)
   * @param preIPOCompanyId Optional filter by PreIPO Company ID. (optional)
   * @param npmTicker Optional filter by NPM ticker. (optional)
   * @param companyName Optional filter by company name. (optional)
   * @param impliedValuationHighEstimateMin Optional minimum filter on high valuation. (optional)
   * @param impliedValuationLowEstimateMax Optional maximum filter on low valuation. (optional)
   * @param dateFrom Optional start date filter. (optional)
   * @param dateTo Optional end date filter. (optional)
   * @param pageNumber Pagination page number. (optional, default to 1)
   * @param pageSize Pagination page size. (optional, default to 25)
   * @return NpmTapeDBasicApiResponse
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDBasicApiResponse getAllNpmTapeDBasic(@jakarta.annotation.Nonnull UUID financialInstitutionId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable String npmTicker, @jakarta.annotation.Nullable String companyName, @jakarta.annotation.Nullable Double impliedValuationHighEstimateMin, @jakarta.annotation.Nullable Double impliedValuationLowEstimateMax, @jakarta.annotation.Nullable LocalDate dateFrom, @jakarta.annotation.Nullable LocalDate dateTo, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize) throws ApiException {
    return this.getAllNpmTapeDBasic(financialInstitutionId, preIPOCompanyId, npmTicker, companyName, impliedValuationHighEstimateMin, impliedValuationLowEstimateMax, dateFrom, dateTo, pageNumber, pageSize, Collections.emptyMap());
  }


  /**
   * Gets all NPM Tape D Basic records for a specific financial institution.
   * 
   * @param financialInstitutionId The financial institution ID. (required)
   * @param preIPOCompanyId Optional filter by PreIPO Company ID. (optional)
   * @param npmTicker Optional filter by NPM ticker. (optional)
   * @param companyName Optional filter by company name. (optional)
   * @param impliedValuationHighEstimateMin Optional minimum filter on high valuation. (optional)
   * @param impliedValuationLowEstimateMax Optional maximum filter on low valuation. (optional)
   * @param dateFrom Optional start date filter. (optional)
   * @param dateTo Optional end date filter. (optional)
   * @param pageNumber Pagination page number. (optional, default to 1)
   * @param pageSize Pagination page size. (optional, default to 25)
   * @param additionalHeaders additionalHeaders for this call
   * @return NpmTapeDBasicApiResponse
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDBasicApiResponse getAllNpmTapeDBasic(@jakarta.annotation.Nonnull UUID financialInstitutionId, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable String npmTicker, @jakarta.annotation.Nullable String companyName, @jakarta.annotation.Nullable Double impliedValuationHighEstimateMin, @jakarta.annotation.Nullable Double impliedValuationLowEstimateMax, @jakarta.annotation.Nullable LocalDate dateFrom, @jakarta.annotation.Nullable LocalDate dateTo, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'financialInstitutionId' is set
    if (financialInstitutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstitutionId' when calling getAllNpmTapeDBasic");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/npm/tape-d-basic/financial-institution/{financialInstitutionId}"
      .replaceAll("\\{" + "financialInstitutionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstitutionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyId", preIPOCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("npmTicker", npmTicker));
    localVarQueryParams.addAll(apiClient.parameterToPair("companyName", companyName));
    localVarQueryParams.addAll(apiClient.parameterToPair("impliedValuationHighEstimateMin", impliedValuationHighEstimateMin));
    localVarQueryParams.addAll(apiClient.parameterToPair("impliedValuationLowEstimateMax", impliedValuationLowEstimateMax));
    localVarQueryParams.addAll(apiClient.parameterToPair("dateFrom", dateFrom));
    localVarQueryParams.addAll(apiClient.parameterToPair("dateTo", dateTo));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageNumber", pageNumber));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<NpmTapeDBasicApiResponse> localVarReturnType = new TypeReference<NpmTapeDBasicApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Gets a NPM Tape D Basic record by ID for a financial institution.
   * 
   * @param id The NPM Tape D Basic ID. (required)
   * @param financialInstitutionId The financial institution ID. (required)
   * @return NpmTapeDBasic
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDBasic getNpmTapeDBasicById(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID financialInstitutionId) throws ApiException {
    return this.getNpmTapeDBasicById(id, financialInstitutionId, Collections.emptyMap());
  }


  /**
   * Gets a NPM Tape D Basic record by ID for a financial institution.
   * 
   * @param id The NPM Tape D Basic ID. (required)
   * @param financialInstitutionId The financial institution ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return NpmTapeDBasic
   * @throws ApiException if fails to make API call
   */
  public NpmTapeDBasic getNpmTapeDBasicById(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID financialInstitutionId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getNpmTapeDBasicById");
    }
    
    // verify the required parameter 'financialInstitutionId' is set
    if (financialInstitutionId == null) {
      throw new ApiException(400, "Missing the required parameter 'financialInstitutionId' when calling getNpmTapeDBasicById");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/npm/tape-d-basic/{id}/financial-institution/{financialInstitutionId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "financialInstitutionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(financialInstitutionId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<NpmTapeDBasic> localVarReturnType = new TypeReference<NpmTapeDBasic>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
