/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.PreIPOCompanyInvestment;
import com.monarkmarkets.api.primary.webapi.model.PreIPOCompanyInvestmentApiResponse;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class PreIpoCompanyInvestmentApi extends BaseApi {

  public PreIpoCompanyInvestmentApi() {
    super(Configuration.getDefaultApiClient());
  }

  public PreIpoCompanyInvestmentApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get a PreIPOCompanyInvestment by Id
   * 
   * @param id ID of the PreIPOCompanyInvestment to find. (required)
   * @param investorId The investorId making the request (required)
   * @return PreIPOCompanyInvestment
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyInvestment primaryV1PreIpoCompanyInvestmentIdInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID investorId) throws ApiException {
    return this.primaryV1PreIpoCompanyInvestmentIdInvestorInvestorIdGet(id, investorId, Collections.emptyMap());
  }


  /**
   * Get a PreIPOCompanyInvestment by Id
   * 
   * @param id ID of the PreIPOCompanyInvestment to find. (required)
   * @param investorId The investorId making the request (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return PreIPOCompanyInvestment
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyInvestment primaryV1PreIpoCompanyInvestmentIdInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID investorId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1PreIpoCompanyInvestmentIdInvestorInvestorIdGet");
    }
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1PreIpoCompanyInvestmentIdInvestorInvestorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/pre-ipo-company-investment/{id}/investor/{investorId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PreIPOCompanyInvestment> localVarReturnType = new TypeReference<PreIPOCompanyInvestment>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get all PreIPOCompanyInvestments
   * 
   * @param investorId The investorId making the request (required)
   * @param nameFilter Company name to filter by. (optional)
   * @param preIpoCompanyId Company Id to filter by. (optional)
   * @param page Page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @return PreIPOCompanyInvestmentApiResponse
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyInvestmentApiResponse primaryV1PreIpoCompanyInvestmentInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable String nameFilter, @jakarta.annotation.Nullable UUID preIpoCompanyId, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder) throws ApiException {
    return this.primaryV1PreIpoCompanyInvestmentInvestorInvestorIdGet(investorId, nameFilter, preIpoCompanyId, page, pageSize, sortOrder, Collections.emptyMap());
  }


  /**
   * Get all PreIPOCompanyInvestments
   * 
   * @param investorId The investorId making the request (required)
   * @param nameFilter Company name to filter by. (optional)
   * @param preIpoCompanyId Company Id to filter by. (optional)
   * @param page Page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param additionalHeaders additionalHeaders for this call
   * @return PreIPOCompanyInvestmentApiResponse
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyInvestmentApiResponse primaryV1PreIpoCompanyInvestmentInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable String nameFilter, @jakarta.annotation.Nullable UUID preIpoCompanyId, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1PreIpoCompanyInvestmentInvestorInvestorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/pre-ipo-company-investment/investor/{investorId}"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("nameFilter", nameFilter));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIpoCompanyId", preIpoCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PreIPOCompanyInvestmentApiResponse> localVarReturnType = new TypeReference<PreIPOCompanyInvestmentApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
