/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.88
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.PreIPOCompanyResearch;
import com.monarkmarkets.api.primary.webapi.model.PreIPOCompanyResearchApiResponse;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class PreIpoCompanyResearchApi extends BaseApi {

  public PreIpoCompanyResearchApi() {
    super(Configuration.getDefaultApiClient());
  }

  public PreIpoCompanyResearchApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all PreIPOCompanyResearch.
   * 
   * @param searchTerm Search term to filter results on based on &#39;Title&#39; field. (optional)
   * @param preIPOCompanyId  (optional)
   * @param page Which page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param researchType  (optional)
   * @param relation  (optional)
   * @return PreIPOCompanyResearchApiResponse
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyResearchApiResponse primaryV1PreIpoCompanyResearchGet(@jakarta.annotation.Nullable String searchTerm, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String researchType, @jakarta.annotation.Nullable String relation) throws ApiException {
    return this.primaryV1PreIpoCompanyResearchGet(searchTerm, preIPOCompanyId, page, pageSize, sortOrder, researchType, relation, Collections.emptyMap());
  }


  /**
   * Get all PreIPOCompanyResearch.
   * 
   * @param searchTerm Search term to filter results on based on &#39;Title&#39; field. (optional)
   * @param preIPOCompanyId  (optional)
   * @param page Which page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param researchType  (optional)
   * @param relation  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PreIPOCompanyResearchApiResponse
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyResearchApiResponse primaryV1PreIpoCompanyResearchGet(@jakarta.annotation.Nullable String searchTerm, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String researchType, @jakarta.annotation.Nullable String relation, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/pre-ipo-company-research";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("searchTerm", searchTerm));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyId", preIPOCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("researchType", researchType));
    localVarQueryParams.addAll(apiClient.parameterToPair("relation", relation));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PreIPOCompanyResearchApiResponse> localVarReturnType = new TypeReference<PreIPOCompanyResearchApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a PreIPOCompanyResearch by Id.
   * 
   * @param id ID of the PreIPOCompanyResearch to find. (required)
   * @return PreIPOCompanyResearch
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyResearch primaryV1PreIpoCompanyResearchIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1PreIpoCompanyResearchIdGet(id, Collections.emptyMap());
  }


  /**
   * Get a PreIPOCompanyResearch by Id.
   * 
   * @param id ID of the PreIPOCompanyResearch to find. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return PreIPOCompanyResearch
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanyResearch primaryV1PreIpoCompanyResearchIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1PreIpoCompanyResearchIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/pre-ipo-company-research/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PreIPOCompanyResearch> localVarReturnType = new TypeReference<PreIPOCompanyResearch>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
