/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.PreIPOCompanySPV;
import com.monarkmarkets.api.primary.webapi.model.PreIPOCompanySPVApiResponse;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class PreIpoCompanySpvApi extends BaseApi {

  public PreIpoCompanySpvApi() {
    super(Configuration.getDefaultApiClient());
  }

  public PreIpoCompanySpvApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get a PreIPOCompanySPV by Id
   * 
   * @param id ID of the PreIPOCompanySPV to find. (required)
   * @param investorId Investor that the SPV&#39;s are being retrieved for. (required)
   * @param includeDocuments Returns specific documents associated with an SPV. (optional, default to false)
   * @return PreIPOCompanySPV
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanySPV primaryV1PreIpoCompanySpvIdInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable Boolean includeDocuments) throws ApiException {
    return this.primaryV1PreIpoCompanySpvIdInvestorInvestorIdGet(id, investorId, includeDocuments, Collections.emptyMap());
  }


  /**
   * Get a PreIPOCompanySPV by Id
   * 
   * @param id ID of the PreIPOCompanySPV to find. (required)
   * @param investorId Investor that the SPV&#39;s are being retrieved for. (required)
   * @param includeDocuments Returns specific documents associated with an SPV. (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return PreIPOCompanySPV
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanySPV primaryV1PreIpoCompanySpvIdInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable Boolean includeDocuments, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1PreIpoCompanySpvIdInvestorInvestorIdGet");
    }
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1PreIpoCompanySpvIdInvestorInvestorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/pre-ipo-company-spv/{id}/investor/{investorId}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("includeDocuments", includeDocuments));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PreIPOCompanySPV> localVarReturnType = new TypeReference<PreIPOCompanySPV>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get all PreIPOCompanySPVs
   * 
   * @param investorId  (required)
   * @param monarkStage Optional param to filter returned spv&#39;s based on Monark Stage. (optional)
   * @param exemptionsClaimed Optional param to filter returned spv&#39;s based on the exemptions claimed. (optional)
   * @param nameFilter Optional param to filter returned spv&#39;s based on the company name. (optional)
   * @param preIPOCompanyId Optional param to only return spv&#39;s for the preIPOCompany. (optional)
   * @param preIPOCompanyInvestmentId Optional param to only return spv&#39;s for the preIPOCompanyInvestment. (optional)
   * @param page Which page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param sortBy  (optional, default to UpdatedAt)
   * @return PreIPOCompanySPVApiResponse
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanySPVApiResponse primaryV1PreIpoCompanySpvInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable String monarkStage, @jakarta.annotation.Nullable List<String> exemptionsClaimed, @jakarta.annotation.Nullable String nameFilter, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable UUID preIPOCompanyInvestmentId, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String sortBy) throws ApiException {
    return this.primaryV1PreIpoCompanySpvInvestorInvestorIdGet(investorId, monarkStage, exemptionsClaimed, nameFilter, preIPOCompanyId, preIPOCompanyInvestmentId, page, pageSize, sortOrder, sortBy, Collections.emptyMap());
  }


  /**
   * Get all PreIPOCompanySPVs
   * 
   * @param investorId  (required)
   * @param monarkStage Optional param to filter returned spv&#39;s based on Monark Stage. (optional)
   * @param exemptionsClaimed Optional param to filter returned spv&#39;s based on the exemptions claimed. (optional)
   * @param nameFilter Optional param to filter returned spv&#39;s based on the company name. (optional)
   * @param preIPOCompanyId Optional param to only return spv&#39;s for the preIPOCompany. (optional)
   * @param preIPOCompanyInvestmentId Optional param to only return spv&#39;s for the preIPOCompanyInvestment. (optional)
   * @param page Which page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param sortOrder  (optional, default to Descending)
   * @param sortBy  (optional, default to UpdatedAt)
   * @param additionalHeaders additionalHeaders for this call
   * @return PreIPOCompanySPVApiResponse
   * @throws ApiException if fails to make API call
   */
  public PreIPOCompanySPVApiResponse primaryV1PreIpoCompanySpvInvestorInvestorIdGet(@jakarta.annotation.Nonnull UUID investorId, @jakarta.annotation.Nullable String monarkStage, @jakarta.annotation.Nullable List<String> exemptionsClaimed, @jakarta.annotation.Nullable String nameFilter, @jakarta.annotation.Nullable UUID preIPOCompanyId, @jakarta.annotation.Nullable UUID preIPOCompanyInvestmentId, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String sortBy, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'investorId' is set
    if (investorId == null) {
      throw new ApiException(400, "Missing the required parameter 'investorId' when calling primaryV1PreIpoCompanySpvInvestorInvestorIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/pre-ipo-company-spv/investor/{investorId}"
      .replaceAll("\\{" + "investorId" + "\\}", apiClient.escapeString(apiClient.parameterToString(investorId)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("monarkStage", monarkStage));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "exemptionsClaimed", exemptionsClaimed));
    localVarQueryParams.addAll(apiClient.parameterToPair("nameFilter", nameFilter));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyId", preIPOCompanyId));
    localVarQueryParams.addAll(apiClient.parameterToPair("preIPOCompanyInvestmentId", preIPOCompanyInvestmentId));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortBy", sortBy));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<PreIPOCompanySPVApiResponse> localVarReturnType = new TypeReference<PreIPOCompanySPVApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
