/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.88
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.CreateRegisteredFundSubscription;
import com.monarkmarkets.api.primary.webapi.model.RegisteredFundSubscription;
import com.monarkmarkets.api.primary.webapi.model.RegisteredFundSubscriptionApiResponse;
import com.monarkmarkets.api.primary.webapi.model.SignatureRequest;

import java.io.File;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class RegisteredFundSubscriptionApi extends BaseApi {

  public RegisteredFundSubscriptionApi() {
    super(Configuration.getDefaultApiClient());
  }

  public RegisteredFundSubscriptionApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Gets all registered fund subscriptions with optional filtering.
   * 
   * @param registeredFundId Optional registered fund ID to filter subscriptions. (optional)
   * @param investorId Optional investor ID to filter subscriptions. (optional)
   * @param pageNumber Page number for pagination (default: 1). (optional, default to 1)
   * @param pageSize Page size for pagination (default: 25). (optional, default to 25)
   * @param sortOrder Sort order for results (default: Descending). (optional, default to Descending)
   * @return RegisteredFundSubscriptionApiResponse
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscriptionApiResponse primaryV1RegisteredFundSubscriptionGet(@jakarta.annotation.Nullable UUID registeredFundId, @jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionGet(registeredFundId, investorId, pageNumber, pageSize, sortOrder, Collections.emptyMap());
  }


  /**
   * Gets all registered fund subscriptions with optional filtering.
   * 
   * @param registeredFundId Optional registered fund ID to filter subscriptions. (optional)
   * @param investorId Optional investor ID to filter subscriptions. (optional)
   * @param pageNumber Page number for pagination (default: 1). (optional, default to 1)
   * @param pageSize Page size for pagination (default: 25). (optional, default to 25)
   * @param sortOrder Sort order for results (default: Descending). (optional, default to Descending)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFundSubscriptionApiResponse
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscriptionApiResponse primaryV1RegisteredFundSubscriptionGet(@jakarta.annotation.Nullable UUID registeredFundId, @jakarta.annotation.Nullable UUID investorId, @jakarta.annotation.Nullable Integer pageNumber, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("registeredFundId", registeredFundId));
    localVarQueryParams.addAll(apiClient.parameterToPair("investorId", investorId));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageNumber", pageNumber));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFundSubscriptionApiResponse> localVarReturnType = new TypeReference<RegisteredFundSubscriptionApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Gets the current document for a subscription based on its status. Returns the appropriate document version based on subscription workflow status.
   * 
   * @param id The subscription ID. (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File primaryV1RegisteredFundSubscriptionIdDocumentGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionIdDocumentGet(id, Collections.emptyMap());
  }


  /**
   * Gets the current document for a subscription based on its status. Returns the appropriate document version based on subscription workflow status.
   * 
   * @param id The subscription ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File primaryV1RegisteredFundSubscriptionIdDocumentGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1RegisteredFundSubscriptionIdDocumentGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription/{id}/document"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<File> localVarReturnType = new TypeReference<File>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Gets a subscription by ID.
   * 
   * @param id The subscription ID. (required)
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionIdGet(id, Collections.emptyMap());
  }


  /**
   * Gets a subscription by ID.
   * 
   * @param id The subscription ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1RegisteredFundSubscriptionIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFundSubscription> localVarReturnType = new TypeReference<RegisteredFundSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Generates a preview of the subscription document with filled data.
   * 
   * @param id The subscription ID. (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File primaryV1RegisteredFundSubscriptionIdPreviewPost(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionIdPreviewPost(id, Collections.emptyMap());
  }


  /**
   * Generates a preview of the subscription document with filled data.
   * 
   * @param id The subscription ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File primaryV1RegisteredFundSubscriptionIdPreviewPost(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1RegisteredFundSubscriptionIdPreviewPost");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription/{id}/preview"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<File> localVarReturnType = new TypeReference<File>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Signs the document as a financial advisor.
   * 
   * @param id The subscription ID. (required)
   * @param signatureRequest The signature request. (optional)
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionIdSignAdvisorPost(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable SignatureRequest signatureRequest) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionIdSignAdvisorPost(id, signatureRequest, Collections.emptyMap());
  }


  /**
   * Signs the document as a financial advisor.
   * 
   * @param id The subscription ID. (required)
   * @param signatureRequest The signature request. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionIdSignAdvisorPost(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable SignatureRequest signatureRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = signatureRequest;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1RegisteredFundSubscriptionIdSignAdvisorPost");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription/{id}/sign-advisor"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFundSubscription> localVarReturnType = new TypeReference<RegisteredFundSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Signs the document as an investor.
   * 
   * @param id The subscription ID. (required)
   * @param signatureRequest The signature request. (optional)
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionIdSignInvestorPost(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable SignatureRequest signatureRequest) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionIdSignInvestorPost(id, signatureRequest, Collections.emptyMap());
  }


  /**
   * Signs the document as an investor.
   * 
   * @param id The subscription ID. (required)
   * @param signatureRequest The signature request. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionIdSignInvestorPost(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable SignatureRequest signatureRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = signatureRequest;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1RegisteredFundSubscriptionIdSignInvestorPost");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription/{id}/sign-investor"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFundSubscription> localVarReturnType = new TypeReference<RegisteredFundSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Creates a new registered fund subscription.
   * 
   * @param createRegisteredFundSubscription The subscription creation request. (optional)
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionPost(@jakarta.annotation.Nullable CreateRegisteredFundSubscription createRegisteredFundSubscription) throws ApiException {
    return this.primaryV1RegisteredFundSubscriptionPost(createRegisteredFundSubscription, Collections.emptyMap());
  }


  /**
   * Creates a new registered fund subscription.
   * 
   * @param createRegisteredFundSubscription The subscription creation request. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFundSubscription
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundSubscription primaryV1RegisteredFundSubscriptionPost(@jakarta.annotation.Nullable CreateRegisteredFundSubscription createRegisteredFundSubscription, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createRegisteredFundSubscription;
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund-subscription";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFundSubscription> localVarReturnType = new TypeReference<RegisteredFundSubscription>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
