/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.RegisteredFund;
import com.monarkmarkets.api.primary.webapi.model.RegisteredFundApiResponse;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class RegisteredFundApi extends BaseApi {

  public RegisteredFundApi() {
    super(Configuration.getDefaultApiClient());
  }

  public RegisteredFundApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all RegisteredFunds
   * 
   * @param searchTerm Search term to filter results on based on &#39;Name&#39; field (optional, default to )
   * @param sortOrder Which way to sort order, defaults to Descending. (optional, default to Descending)
   * @param page Which page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @return RegisteredFundApiResponse
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundApiResponse primaryV1RegisteredFundGet(@jakarta.annotation.Nullable String searchTerm, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize) throws ApiException {
    return this.primaryV1RegisteredFundGet(searchTerm, sortOrder, page, pageSize, Collections.emptyMap());
  }


  /**
   * Get all RegisteredFunds
   * 
   * @param searchTerm Search term to filter results on based on &#39;Name&#39; field (optional, default to )
   * @param sortOrder Which way to sort order, defaults to Descending. (optional, default to Descending)
   * @param page Which page number to return. (optional, default to 1)
   * @param pageSize The maximum number of items to return in each page, defaults to 25. (optional, default to 25)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFundApiResponse
   * @throws ApiException if fails to make API call
   */
  public RegisteredFundApiResponse primaryV1RegisteredFundGet(@jakarta.annotation.Nullable String searchTerm, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("searchTerm", searchTerm));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFundApiResponse> localVarReturnType = new TypeReference<RegisteredFundApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get the RegisteredFund by the specified Id.
   * 
   * @param id ID of the RegisteredFund to find. (required)
   * @param includeDocuments Return associated documents (optional, default to false)
   * @return RegisteredFund
   * @throws ApiException if fails to make API call
   */
  public RegisteredFund primaryV1RegisteredFundIdGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable Boolean includeDocuments) throws ApiException {
    return this.primaryV1RegisteredFundIdGet(id, includeDocuments, Collections.emptyMap());
  }


  /**
   * Get the RegisteredFund by the specified Id.
   * 
   * @param id ID of the RegisteredFund to find. (required)
   * @param includeDocuments Return associated documents (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return RegisteredFund
   * @throws ApiException if fails to make API call
   */
  public RegisteredFund primaryV1RegisteredFundIdGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nullable Boolean includeDocuments, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1RegisteredFundIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/registered-fund/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("includeDocuments", includeDocuments));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<RegisteredFund> localVarReturnType = new TypeReference<RegisteredFund>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
