/*
 * Primary Offering API
 * Primary Offering API
 *
 * The version of the OpenAPI document: 1.1.108
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.monarkmarkets.api.primary.webapi.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.monarkmarkets.api.primary.webapi.invoker.ApiClient;
import com.monarkmarkets.api.primary.webapi.invoker.ApiException;
import com.monarkmarkets.api.primary.webapi.invoker.BaseApi;
import com.monarkmarkets.api.primary.webapi.invoker.Configuration;
import com.monarkmarkets.api.primary.webapi.invoker.Pair;
import com.monarkmarkets.api.primary.webapi.model.CreateWebhook;
import com.monarkmarkets.api.primary.webapi.model.UpdateWebhook;
import com.monarkmarkets.api.primary.webapi.model.Webhook;
import com.monarkmarkets.api.primary.webapi.model.WebhookApiResponse;
import com.monarkmarkets.api.primary.webapi.model.WebhookEventApiResponse;

import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;
import java.util.UUID;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.13.0")
public class WebhookApi extends BaseApi {

  public WebhookApi() {
    super(Configuration.getDefaultApiClient());
  }

  public WebhookApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Get all Webhooks
   * 
   * @param page Page number to return. (optional, default to 1)
   * @param pageSize The number of items to return. (optional, default to 25)
   * @param sortOrder Order of which to sort the webhooks by. Default is Descending (optional, default to Descending)
   * @return WebhookApiResponse
   * @throws ApiException if fails to make API call
   */
  public WebhookApiResponse primaryV1WebhookGet(@jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder) throws ApiException {
    return this.primaryV1WebhookGet(page, pageSize, sortOrder, Collections.emptyMap());
  }


  /**
   * Get all Webhooks
   * 
   * @param page Page number to return. (optional, default to 1)
   * @param pageSize The number of items to return. (optional, default to 25)
   * @param sortOrder Order of which to sort the webhooks by. Default is Descending (optional, default to Descending)
   * @param additionalHeaders additionalHeaders for this call
   * @return WebhookApiResponse
   * @throws ApiException if fails to make API call
   */
  public WebhookApiResponse primaryV1WebhookGet(@jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, @jakarta.annotation.Nullable String sortOrder, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/primary/v1/webhook";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<WebhookApiResponse> localVarReturnType = new TypeReference<WebhookApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Delete a Webhook
   * 
   * @param id The Webhooks ID. (required)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1WebhookIdDelete(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    this.primaryV1WebhookIdDelete(id, Collections.emptyMap());
  }


  /**
   * Delete a Webhook
   * 
   * @param id The Webhooks ID. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1WebhookIdDelete(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1WebhookIdDelete");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/webhook/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  /**
   * Get all Webhook Events for a specified Webhook
   * 
   * @param id The Webhook&#39;s ID. (required)
   * @param from Filters events so that only events from this datetime is returned. (required)
   * @param to Filters events so that only events to this datetime is returned. (required)
   * @param sortOrder Order of which to sort the events by. Default is Descending. (optional, default to Descending)
   * @param eventType Optional filter by event type. (optional)
   * @param deliveryStatus Optional filter by delivery status. (optional)
   * @param page The page number to return. (optional, default to 1)
   * @param pageSize  (optional, default to 25)
   * @return WebhookEventApiResponse
   * @throws ApiException if fails to make API call
   */
  public WebhookEventApiResponse primaryV1WebhookIdEventsGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull OffsetDateTime from, @jakarta.annotation.Nonnull OffsetDateTime to, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String eventType, @jakarta.annotation.Nullable String deliveryStatus, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize) throws ApiException {
    return this.primaryV1WebhookIdEventsGet(id, from, to, sortOrder, eventType, deliveryStatus, page, pageSize, Collections.emptyMap());
  }


  /**
   * Get all Webhook Events for a specified Webhook
   * 
   * @param id The Webhook&#39;s ID. (required)
   * @param from Filters events so that only events from this datetime is returned. (required)
   * @param to Filters events so that only events to this datetime is returned. (required)
   * @param sortOrder Order of which to sort the events by. Default is Descending. (optional, default to Descending)
   * @param eventType Optional filter by event type. (optional)
   * @param deliveryStatus Optional filter by delivery status. (optional)
   * @param page The page number to return. (optional, default to 1)
   * @param pageSize  (optional, default to 25)
   * @param additionalHeaders additionalHeaders for this call
   * @return WebhookEventApiResponse
   * @throws ApiException if fails to make API call
   */
  public WebhookEventApiResponse primaryV1WebhookIdEventsGet(@jakarta.annotation.Nonnull UUID id, @jakarta.annotation.Nonnull OffsetDateTime from, @jakarta.annotation.Nonnull OffsetDateTime to, @jakarta.annotation.Nullable String sortOrder, @jakarta.annotation.Nullable String eventType, @jakarta.annotation.Nullable String deliveryStatus, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer pageSize, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1WebhookIdEventsGet");
    }
    
    // verify the required parameter 'from' is set
    if (from == null) {
      throw new ApiException(400, "Missing the required parameter 'from' when calling primaryV1WebhookIdEventsGet");
    }
    
    // verify the required parameter 'to' is set
    if (to == null) {
      throw new ApiException(400, "Missing the required parameter 'to' when calling primaryV1WebhookIdEventsGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/webhook/{id}/events"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
    localVarQueryParams.addAll(apiClient.parameterToPair("to", to));
    localVarQueryParams.addAll(apiClient.parameterToPair("sortOrder", sortOrder));
    localVarQueryParams.addAll(apiClient.parameterToPair("eventType", eventType));
    localVarQueryParams.addAll(apiClient.parameterToPair("deliveryStatus", deliveryStatus));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<WebhookEventApiResponse> localVarReturnType = new TypeReference<WebhookEventApiResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get a Webhook
   * 
   * @param id Id of the webhook to get. (required)
   * @return Webhook
   * @throws ApiException if fails to make API call
   */
  public Webhook primaryV1WebhookIdGet(@jakarta.annotation.Nonnull UUID id) throws ApiException {
    return this.primaryV1WebhookIdGet(id, Collections.emptyMap());
  }


  /**
   * Get a Webhook
   * 
   * @param id Id of the webhook to get. (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Webhook
   * @throws ApiException if fails to make API call
   */
  public Webhook primaryV1WebhookIdGet(@jakarta.annotation.Nonnull UUID id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling primaryV1WebhookIdGet");
    }
    
    // create path and map variables
    String localVarPath = "/primary/v1/webhook/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Webhook> localVarReturnType = new TypeReference<Webhook>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create a Webhook
   * 
   * @param createWebhook Create Webhook information. (optional)
   * @return Webhook
   * @throws ApiException if fails to make API call
   */
  public Webhook primaryV1WebhookPost(@jakarta.annotation.Nullable CreateWebhook createWebhook) throws ApiException {
    return this.primaryV1WebhookPost(createWebhook, Collections.emptyMap());
  }


  /**
   * Create a Webhook
   * 
   * @param createWebhook Create Webhook information. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Webhook
   * @throws ApiException if fails to make API call
   */
  public Webhook primaryV1WebhookPost(@jakarta.annotation.Nullable CreateWebhook createWebhook, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = createWebhook;
    
    // create path and map variables
    String localVarPath = "/primary/v1/webhook";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    TypeReference<Webhook> localVarReturnType = new TypeReference<Webhook>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update a Webhook’s Information
   * 
   * @param updateWebhook Update Webhook Request. (optional)
   * @throws ApiException if fails to make API call
   */
  public void primaryV1WebhookPut(@jakarta.annotation.Nullable UpdateWebhook updateWebhook) throws ApiException {
    this.primaryV1WebhookPut(updateWebhook, Collections.emptyMap());
  }


  /**
   * Update a Webhook’s Information
   * 
   * @param updateWebhook Update Webhook Request. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void primaryV1WebhookPut(@jakarta.annotation.Nullable UpdateWebhook updateWebhook, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = updateWebhook;
    
    // create path and map variables
    String localVarPath = "/primary/v1/webhook";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "Bearer" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
